
.grid-box{
	width: 250px;
	height: 350px;;
	background-color: rgb(255, 255, 255) !important;
	margin: 15px;
	border: 2px;
	border-color: rgb(248, 248, 248);
	border-style: solid;
	border-radius: 5px;
	opacity: .8;
}


.slick-container{
	margin-left: 150px;
	margin-right: 50px;
}


.grid-body{
	padding: 5px;
}

.image-box{
	width: 100%;
	height: 30%;
	/* background-color: antiquewhite; */
	
}

.image{
	/* background-image: url("/asset/bg_2.jpg"); */
	height: 100px;
	width: 100px;
	background-color: rgb(133, 136, 138);
	margin: auto;
	border: 3px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-radius: 50%;
	box-shadow: 3px 3px 3px rgb(165, 162, 162), 0 0 25px rgb(143, 143, 143);
	
}
.image-box img{
	height: 120px;
	width: 135px;
	align-items: center;
	margin: auto;
}
.name-box{
	width: 100%;
	height: 20%;
	/* background-color: rgb(139, 137, 133); */
	margin-bottom: 10px;
}

.name-box h1{
	text-align: center;
	font-size: 30px;
	color: #000;
	margin-top: 0;
	margin-bottom: 0;
	font-family: 'Martel', serif;
}
.name-box h5{
	text-align: center;
	color: #000;
	opacity: .8;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
	letter-spacing: 3px;
}
.details-box p{
	font-size: 15px;
	color: #000;
	font-family: 'Nunito', sans-serif;
}

.contact-details{
	color: rgb(66, 156, 168);
	text-align: center;
	
}
.contact-body a{
	font-size: 15px;
	text-decoration: none;
	text-transform: none;
	font-family: 'Smooch Sans', sans-serif;
}

.contact-body i{
	margin-right: 5px;
	color: #5acbd3;
}