@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans&display=swap');

body{
    background-color: rgb(0, 0, 0) !important; 
    /* src: url("/asset/bg_1.jpg"); */
    background-image: url("/asset/bg_1.jpg");
    /* text-rendering: optimizeLegibility !important;     */
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}


nav {
    display: block;
    position: absolute;
    top: 20px;
    right: 50px;
    text-align: right;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
nav a {
    position: relative;
    display: inline-block;
    margin: 0 14px;
    outline: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    text-shadow: 0 0 1px rgb(255 255 255 / 50%);
    font-size: 18px;
    overflow: hidden;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

nav a, nav a:link, nav a:hover, nav a:visited, nav a:focus, nav a:before, nav a:after {
    color: #fff!important;
}



.section{
    position: fixed;
    outline: 3;
    text-decoration: none;
    top: 25%;
    color: cornsilk;
    width: auto;
    /* background-color: rgb(94, 32, 32); */
    width: 100%;
    height: auto;
}

.backButton{
    src: url('../asset/icon/back-arrow.png');
    position: absolute;
    margin: 0 15px;
    outline: 0;
    top: 20px;
    font-weight: 300;
    
    
}

.backButton, a{
    color: azure;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
}


































